[2016-07-27 23:46] glguy opened #3 "postgrest-ws.cabal full of template content"
You need to fill in a number of fields in the package description file before uploading to Hackage including the synopsis, description, author, copyright

[2016-07-27 23:51] diogob commented on #3
@glguy sorry, I just realized after uploading and fixed in https://github.com/diogob/postgrest-ws/commit/05cef78bf4d60fbea191fd21be916a2883e1bdf3

[2016-07-27 23:51] #3 closed

[2016-12-10 21:03] myfreeweb opened #5 "Connection is instantly dropped in read-only mode"
Hi, thanks for your project!

Found a bug: you're only doing `forever $ …` in the `when (hasWrite mode)` section. Without it, the listen thread is forked and the function ends after that, instantly disconnecting the client.

[2017-03-01 23:02] PierreRochard opened #8 "Upgrade to postgrest 0.4"
I realized this add-on is a version behind when I tried using a config file instead of command line args. I played around with the stack.yaml and I'm now re-building. I have zero Haskell experience but if this works I'll put in a pull request.

[2017-03-02 03:14] diogob commented on #5
Because the `listenSession` is an infinite loop. So that should not cause any problems. Do you have a test case that I could use to reproduce the problem?

[2017-03-02 03:16] diogob commented on #8
Some interfaces have changed from 0.3 to 0.4.
It will require some code changes.

[2017-03-02 12:12] PierreRochard commented on #8
Indeed, the build broke. Motivation to learn Haskell! 😃

[2017-03-02 12:41] myfreeweb commented on #5
Just try using a JWT with `r` mode, without the write permission, that's the test case.

You run that infinite loop in a `forkIO`. That thread is forked, then the current thread stops because it has nothing else to do, and the connection is instantly dropped because of that.

[2017-03-03 00:11] diogob commented on #5
@myfreeweb thanks for the reply, I just realized it now! Marked as a bug, will fix this ASAP

[2017-03-03 03:14] #8 closed

[2017-03-03 03:54] #5 closed

[2017-03-03 14:54] PierreRochard commented on #8
Holy smokes that was fast @diogob! Thank you, I really appreciate this project. 👍

[2017-03-03 14:56] diogob opened #9 "Listening sessions do not close database connections"
Currently the project cannot be used in production due to a flaw in how we listen to database notifications. We need 1 database connection per listener, which does not scale and makes it harder to release connections.
The ideal state of affairs is to track listening connections in the master thread outside of the websocket connection code. Then we can open 1 connection for each channel and share n

[2017-03-04 00:49] diogob commented on #8
@PierreRochard you are welcome, but be aware that this code is still not production quality, see #9 for details. I'll write a note on the README.

[2017-03-04 15:21] PierreRochard commented on #8
Thank you for the heads up, I'm using it just for a side project at this point: https://github.com/PierreRochard/primeng-postgrest

I look forward to eventually learning Haskell and contributing back!

[2017-04-20 22:19] diogob commented on #9
Should be fixed in master. Now we keep only 1 connection with the database for all listen commands and multiplex the messages in haskell code using `TChan`. All available channels are mutated and shared across threads using a STM Map.

[2017-04-20 22:19] #9 closed

[2017-05-05 07:43] PierreR opened #12 "Compatible postgrest-0.4.1.0. release"
The current release will not built with the latest postgrest-0.4.1.0:

https://hydra.nixos.org/build/52420518/nixlog/18

Would you mind making a new release that would be compatible with it ?

I can PR the necessary changes if you wish so.

[2017-05-05 14:12] #12 closed

[2017-05-05 14:26] PierreR commented on #12
@diogob I still need you to bump a version on hackage if you don't mind. ;-)

[2017-05-05 15:56] diogob commented on #12
Don't mind one bit :D
I'll do this tonight.

[2017-05-05 23:50] diogob commented on #12
Uploaded to hackage 🍻

[2017-08-14 02:58] daurnimator opened #20 "Docker build failing"
[code]

[2017-08-14 03:01] daurnimator commented on #20
oops; this dockerfile was only based on yours.

[2017-08-14 03:01] #20 closed

[2017-09-28 10:07] PierreR opened #22 "configurator deps mismatched with postgrest"
Would you be open to change the deps from `configurator` to `configurator-ng` to match the latest version of `postgrest` ?

Cheers

[2017-09-28 10:09] PierreR commented on #22
As a note I am not so sure this is a good idea because `configurator` is in stackage while `configurator-ng` is not ...

[2017-09-28 10:15] PierreR commented on #22
Well I would argue it is probably a bad idea ...

[2017-09-28 10:15] #22 closed

[2017-09-28 10:18] PierreR opened #23 "Update Protolude to 0.2"
I would like to update the protolude version to `0.2` to match what is done in `postgrest-0.4.3.0`.

Would you accept such a PR ?

Cheers

[2017-09-28 13:24] PierreR commented on #23
Proposed here: https://github.com/diogob/postgrest-ws/pull/21

[2017-09-28 23:11] diogob commented on #22
The dependency is in the executable, so to use it as a middleware with postgrest this should not cause any problems.

[2017-09-29 05:43] PierreR commented on #22
By the way where is the help for such an usage (as a middleware)

[2017-09-29 06:48] #23 closed

[2017-09-29 06:50] diogob commented on #22
Unfortunately there is no documentation for it yet. You can check the middleware call in the sample server here: https://github.com/diogob/postgrest-ws/blob/master/app/Main.hs#L60

[2017-10-04 09:46] PierreR commented on #22
Thanks.

I guess I need to 'repackaged' postgrest after patching it (adding the postgrest-ws middleware) or is there another cleaner way ?

[2017-10-04 15:01] diogob commented on #22
@PierreR that's it for now.

Having said that I still need to update the JWT library to use the same one on postgrest-ws and retain full compatibility with the tokens. That should be simple and I will have some time to work on it by the end of the month.
If you make a version that composes both middlewares please let me know so I can link in the README.

[2017-10-04 15:05] diogob opened #24 "Support asymmetric JWK (update to jose to keep compatibility with PostgREST tokens)"
This PR https://github.com/begriffs/postgrest/pull/919 should be ported to the postgrest-ws claim decoding functions. This means supporting the [jose](https://hackage.haskell.org/package/jose) library

[2017-10-04 15:06] diogob commented on #22
@PierreR I just opened #24 to keep track of the new JWT implementation.

[2017-10-04 15:31] PierreR commented on #24
By the way, it would be nice to support/update to  `jose-0.6` in postgrest. I am actually trying to see how to do that but I know nothing about that library so it is a bit of a pain.

[2017-10-04 22:18] PierreR commented on #24
Here is the attempt ;-) https://github.com/begriffs/postgrest/pull/997

[2017-10-06 13:42] grotsev opened #25 "Scalability clarification"
As I understand #9, the project is more ready for production today. I've not found visible bottleneck while my shallow dive into code. My assumption is that Multiplexor can handle many thousands of websocket clients for a channel.
But situation when every client has own channel is not optimal. PostgREST-WS hold one connection subscribed to many channels in PostgrSQL. And PostgreSQL have to do redu

[2017-10-06 23:36] diogob commented on #25
@grotsev good point. I haven't done much testing since the earlier benchmarks outlined here: https://github.com/begriffs/postgrest/pull/872

Move all the routing to the Multiplexer might be a good idea. I'd love to have some solid benchmarks before doing that move though.

[2017-10-09 12:57] PierreR commented on #24
I have just realized I need to wait for this issue to be solved to go forward ;-)

Do you need some help to achieve this ?

[2017-10-09 13:41] PierreR commented on #24
I am also wondering about `audit-channel`. Is this something specific to postgrest-ws and related to 'LISTEN/NOTIFY` ?

[2017-10-10 08:38] diogob commented on #24
Hi there, unfortunately I'm on vacation and I won't be able to fix this
issue for the next two weeks 😕

On Mon, Oct 9, 2017 at 20:57 Pi3r <notifications@github.com> wrote:

[2017-10-10 08:42] diogob commented on #24
Audit-channel is just an arbitrary name to allow a backend app to persist
all exchanged messages. It makes the code of the backend app much simpler
since it does not need to find out the name of active channels.

On Mon, Oct 9, 2017 at 21:41 Pi3r <notifications@github.com> wrote:

[2017-10-11 07:37] grotsev commented on #25
I'm going to explore PostgreSQL notify implementation and benchmarks in mid term future.

[2017-10-11 13:19] ebekebe opened #27 "JWT that can read all channels"
From the readme I understand that a JWT needs to include a complete list of all channels one wants to listen to. Is there a way to have a general JWT that can read all channels without listing them explicitly?

The idea is that we have a service that listens to channels that are created at runtime. The service is configured with a single fixed JWT and we don't want to fetch a new JWT for every cha

[2017-10-11 20:05] simg opened #28 "How do you access Postgrest's rest API"
Sorry if I'm missing something obvious, but is the idea that you run a Postgrest server and Postgrest-ws at the same time?

I don't seem to be able to access the Rest API whilst only running Postgrest-ws

[2017-10-11 20:23] PierreR commented on #28
#22 will give you more information on the subject.

[2017-10-11 20:33] simg commented on #28
Thanks, but that doesn't really answer my question.

[2017-10-11 20:36] PierreR commented on #28
My understanding is that `postgrest-ws` as an executable is a bit of a test bed. If you want to use both, it is better to patch `postgrest` to include the `postgest-ws` middleware and use one executable only.

[2017-10-11 20:44] PierreR commented on #28
If you follow #24 from #22 you will see that one current problem is the mismatch between jwt related library. `postgrest-ws` needs to drop the `jwt` package for `jose` (which is a recent postgrest change).

Does it help ?

[2017-10-11 20:46] simg commented on #28
Ah Ok, thanks. That's pretty much what I thought, although I'm thinking of using a proxy server to forward http or websockets requests to the appropriate port.

[2017-10-11 20:47] PierreR commented on #28
That said if you only want to use `postgrest-ws` (no need for a REST API) I would say it is ok too (but the README seems to contradict that assertion ;-)

[2017-10-11 20:50] PierreR commented on #28
I don't know why or if having 2 separate executables is really problematic.  I will let @diogob to answer more precisely on that point.

[2017-10-11 20:54] simg commented on #28
having to run 2 executables is more complicated, but I can see advantages to that approach.

[2017-10-12 14:48] diogob commented on #28
@simg using two executables should be fine. The postgrest-ws will not give you access to the REST api, only the websockets functionality. The project started as a way to implement websockets in postgrest, but during the merge request we decided to keep them separate. The README and docs still need some love.

@PierreR thanks for jumping in :D

[2017-10-12 14:53] diogob commented on #27
@ebekebe there is a feature like this implemented but still undocumented. Is a option called `audit-channel`. When the option `audit-channel` is present in the config, all messages sent will be written to that channel as well as the original recipient. You can check the code that does this here: https://github.com/diogob/postgrest-ws/blob/master/src/PostgRESTWS.hs#L77

I'll update the docs as soon

[2017-10-12 14:53] #28 closed

[2017-10-14 21:03] PierreR commented on #24
My attempt to fix this issue with PR #29. Thanks for reviewing it.

[2017-10-16 10:23] ebekebe commented on #27
@diogob Thanks for your help. From what I understand, the `audit-channel` will be a single channel. So all clients will receive all messages. This would work in principle, but flood the network with unnecessary messages. I was rather looking for a solution where I can still subscribe to a subset of messages. I see now, that title was misleading.

So let me explain a little better. When I asked to

[2017-10-18 10:51] diogob commented on #27
I like the idea of having the JWT and the channel as orthogonal elements in the URI. Also making it friendlier to integrate with postgrest URIs is a nice property. I'll make a feature proposal on this thread and we can work on it from there

[2017-10-19 09:40] rubin55 opened #30 "Dependency on unix-2.7.2.1 makes build impossible on Windows"
I wanted to take postgrest-ws for a test-drive, but ran into the issue that postgrest-ws seems to depend on the package unix-2.7.2.1. I suspect that package cannot be fulfilled on Windows. Since postgrest is available on Windows also, I expected no problems, but alas:

[code]

[2017-10-19 09:50] diogob commented on #30
I've never compiled on windows so this might take a while to fix. Would a docker image help you?

[2017-10-19 09:53] rubin55 commented on #30
Not really.. I expect that I would run a resultant application on Linux or BSD, but for development not being able to run directly, like I do with postgrest, would slow me down; are you using UNIX-specific functionality to implement postgrest-ws?

[2017-10-19 10:10] diogob commented on #30
Not really, this should be a transient dependency. Maybe from the time
package. But I'm not sure

On Thu, Oct 19, 2017 at 17:53 Rubin Simons <notifications@github.com> wrote:

[2017-10-22 04:08] #24 closed

[2017-10-24 02:29] diogob commented on #30
@rubin55 I've looked in the app code and realized that the unix dependency was just left-over from previous versions. I have removed the unix package from the cabal file. Could you try to compile it again from master?

[2017-10-24 11:11] rubin55 commented on #30
Woo! 👍
[code]

[2017-10-24 12:31] #30 closed

[2017-10-25 02:53] diogob commented on #27
@ebekebe I'm having some trouble understanding a use case where clients have access to the JWT secret but cannot write to channels.
By definition, whoever has the secret, can sign any sort of payload, therefore any mode could be specified (even invalid ones).

Besides, having a configuration that changes how the tokens are interpreted introduces more complexity in the form of additional error hand

[2017-10-27 07:59] ebekebe commented on #27
@diogob When we have `/:channel/:jwt`, there is no use case for clients having the JWT secret from where I am standing. I very much prefer the way you suggested. If you say it is easier to implement, all the better.

[2017-11-07 00:49] #27 closed

[2017-11-28 09:39] grotsev opened #32 "Error while startup"
Sometimes (~10% of runs) while startup console shows
[code]

And then postgrest-websockets does not deliver messages.

[2017-11-28 21:49] diogob commented on #32
@grotsev does this happens when messages arrive during the startup? After that are the messages being all delivered or there is message loss even after the startup?
Is there an easy way to reproduce?

[2017-11-29 08:03] grotsev commented on #32
The [project](https://github.com/grotsev/scor-ng) is on github but it may be time consuming to reproduce.

I've tested several cases and find out that the error happens only while [line 19](https://github.com/grotsev/scor-ng/blob/master/bin/devserver#L19) is commented i.e. postgrest and postgrest-ws are starting concurrently, and client in browser is running. This client is smart enough to try exp

[2017-12-01 04:43] diogob commented on #32
Thanks for the bug report @grotsev

I have investigated a bit the issue, it seems to be related to how the same libpq connection reference  is being used concurrently in these error cases. It is hard to solve this problem keeping multiple database channels and only one listening connection.

The best approach seems to be issuing only one LISTEN command and loop forever keeping the listening connec

[2017-12-04 13:57] grotsev commented on #25
Some thoughts:
1. Notification payload should be JSON serialized. It is extensible envelope for future enhancements and PostgreSQL has great support for it.
2. Client may have more complex destination address and message may be send from complex source address. Routing interface should be quite abstract to support these source and destination description:
2.0. Exact match (source _abc_ matches des

[2017-12-05 02:11] diogob commented on #25
@grotsev check the PR #33

I won't implement any routing logic in this PR since my immediate concern is to get rid of the defect described in #32 (preserving equivalent functionality).

Right now any complex routing can be implemented with some listener on the database side. It could be easily done with a PostgreSQL function in conjunction with something like https://github.com/diogob/pg-recorder

[2017-12-05 08:45] grotsev commented on #25
@diogob You are right. Routing is not part of this PR and it closes #25 and #32. My point is that client may describe its address in some language not just flat channel name, similar to URL filtering and ordering in PostgREST. But it is subject of some another issue concerning [relayMessages](https://github.com/diogob/postgres-websockets/blob/04d2dcf30522aa2c6bec8b606723ceea896597bd/src/PostgresWe

[2017-12-06 01:22] #32 closed

[2017-12-06 01:22] #25 closed

[2017-12-06 01:54] diogob commented on #25
@grotsev neat project the http_port! I'm adding to my tool box :D
I just merged the PR and added some docker-compose instructions for a ready to use test server.

[2018-04-05 07:42] Rembane opened #35 "Should listen-channel be 3000 in exampleCfg?"
The listen channel is 300 in exampleCfg, but if I use that as a value in my config file postgres-websockets won't start.

exampleCfg: https://github.com/diogob/postgres-websockets/blob/master/app/Config.hs#L113

[2018-04-05 14:16] diogob commented on #35
Thanks for reporting

[2018-11-02 17:47] ajayashuba opened #39 "send data to server from browser"
Is is possible for browser to send data to server ? or it is just from server to browser ?

[2018-11-02 19:05] #39 closed

[2018-11-03 15:32] #35 closed

[2018-11-26 11:40] ajayashuba opened #41 "no of connection per channel"
how do i get number of connected connection per channel so that i can know number of ppl online

[2018-12-03 03:33] diogob commented on #41
this feature is not implemented.

[2019-01-16 13:53] ajayashuba opened #42 "chrome error"
why do i get this message while closing websocket in chrome ```failed: Invalid frame header```

[2019-01-16 17:25] ajayashuba commented on #42
https://imgur.com/PppPZ8C

[2019-01-16 17:26] ajayashuba commented on #42
i have frames data as (Opcode-1) with length 20

[2019-01-16 18:03] ajayashuba commented on #42
https://stackoverflow.com/questions/40498032/websocket-server-sending-text-frames-to-client

[2019-01-22 00:54] diogob commented on #42
Sorry for the delay. Do you have any issues closing the websocket, or reopening it?
I'm not handling the connection closing in my code, so I'd have to look in an underlying library.
If you could send a more detailed transcript of the interactions between your code and the socket I'd be glad to help troubleshooting.

[2019-01-22 07:01] ajayashuba commented on #42
i get this message only when closing connection it get closed but in chrome it get this message ```failed: Invalid frame header``` in mozilla its fine..

[2019-01-22 12:54] ajayashuba commented on #42
i am just giving normal ```WebSocket.close()``` ; it works but the console gives error as i mentioned above .the error occurs only in chrome and i also told you the red highlighted frame data i receive as ```opcode1``` ;many ppl also get the same error with websocket .. also i shared you a stackoverflow link dont know if that is the right link ..pls look into it

[2019-03-10 20:03] Rembane opened #43 "Binary release"
It would be really useful to me to have a postgres-websockets binary that I could download from the releases page. This would let me avoid installing stack and GHC and build all dependencies to build postgres-websockets.

[2019-04-22 21:35] diogob commented on #43
I'm closing this since now we have [Linux binaries](https://github.com/diogob/postgres-websockets/releases). For future reference if anyone is interested in binaries for a specific platform please open a separate issue.

[2019-04-22 21:35] #43 closed

[2020-05-23 18:02] W1M0R opened #49 "Update DockerHub version"
The version on DockerHub is currently 0.5.0.0. Could you please update it to the latest release found on GitHub, i.e. 0.6.0.0?

Thanks for the work you are doing on this project.

[2020-05-24 10:21] W1M0R opened #50 "How to disable static file hosting"
By default,the postgres-websockets Docker image hosts the entire root filesystem. The path to host can be adjusted via the PGWS_ROOT_PATH environment variable, but can static file hosting be disabled entirely?

[2020-05-25 08:58] W1M0R opened #51 "Feature request: disable or customize websocket response message"
When I send a websocket message from the browser to postgres-websockets, the websocket responds with an echo of what I sent, including the payload and additional properties such as `message_delivered_at`. If big payloads are sent, then having them echoed in response can be detrimental to performance.

Having the websocket echo an acknowledgement is great, but can we have the option to disable the

[2020-05-26 07:44] W1M0R opened #52 "Feature request: execute function on client connection state changed"
It would be useful to be able to specify an SQL function for postgres-websockets, that will be executed when a WebSocket client connects or disconnects. The function will receive the client identity, perhaps the connecting JWT or some other connection-related properties such as IP, etc. The function will also receive the state of the connection (perhaps based on https://developer.mozilla.org/en-US

[2020-05-27 13:01] diogob commented on #49
good catch, I'll update that

[2020-05-27 13:04] diogob commented on #50
not at the moment, but it should be a quick fix, feel free to create a pull request.

[2020-05-27 14:19] diogob commented on #51
@W1M0R what would be the difference between disabling echo and opening a channel in mode `w` ?

The echo is just a consequence of listening to the same broadcast channel we are writing to, we would have to write additional code to filter out messages issued by a particular client. If you could solve your case by opening a write only channel for the messages you don't want the echo and another chan

[2020-05-27 16:48] diogob commented on #52
@W1M0R it seems to me that a safe design would be to have the funciton explicitly specified in the config to avoid information flowing without consent by who setup the service. This would also prevent any cost associated with the function execution for users that are not interested in this feature.

Any thoughts?

[2020-05-27 17:42] W1M0R commented on #51
Your suggested approach makes sense and will sufficiently solve my use case. Now I understand the purpose of the mode field. Thanks.

[2020-05-27 17:44] W1M0R commented on #52
That sounds like a good approach to me.

[2020-05-27 21:05] #51 closed

[2020-05-28 06:15] W1M0R commented on #52
This feature would also allow for use cases such as #41, where the user can implement the function to track the number of active connections.

[2020-05-28 07:14] W1M0R opened #54 "Feature request: JWT claim validation should include checks for expiration claim"
Currently, the JWT token required by postgres-websockets supports the `mode` and `channel` claims. It would be good if the JWT claim validator could also check the standard registered claims, such as `exp` (see https://tools.ietf.org/html/rfc7519#section-4.1), since it is a good mitigation strategy against JWT replay attacks (https://auth0.com/docs/security/common-threats#preventing-replay-attacks

[2020-05-28 13:58] anatolystansler opened #55 "Retry on "Broadcaster is dead""
Hello! Thanks for an awesome project!

## Problem
If my Postgres restarts postgres-websockets service stops receiving events and logs "Broadcaster is dead". There are no connection retry attempts as far as I can see. Websocket connection can still be established, but the client does not receive any events accordingly.

## Logs
[code]

## Expectations
I would expect postgres-websockets service to r

[2020-05-28 22:41] diogob commented on #55
@anatolystansler this feature is not implemented. But I agree that it's a must-have.

[2020-05-28 23:26] #50 closed

[2020-05-29 00:21] #49 closed

[2020-05-29 11:19] anatolystansler commented on #55
Do you have plans to implement it? 🙂

[2020-05-29 14:24] diogob commented on #55
I will take a stab at it after finishing #54 , I can't give you an ETA since I'm working only on my free time at the moment.

If you are willing to put some time in a PR I would be glad to help you navigate the needed code changes.

[2020-05-29 14:40] anatolystansler commented on #55
Gotcha, thanks!

As a fast solution it would be good to convert the error log to fatal exit. With this change it would be possible to restart service with external tools, e.g. k8s.

[2020-05-29 16:07] diogob commented on #55
@anatolystansler that is a great idea, I'll roll out that change before trying to restore the connection state.

[2020-05-31 05:00] diogob commented on #54
@W1M0R please take a look at #56 I have used a normal 1000 code for closing, it seemed more appropriate than using an error code since the expiration is expected by the client. There is a string sent with the close request `JWT expired`.

Also note that the older versions of the code should validate on the opening of the connection.

[2020-05-31 07:25] W1M0R commented on #54
Thanks @diogob. I know little about Haskell, but I can understand the unit tests verifying that your implementation works.

Closing the websocket using normal closure makes sense, but I have a few observations. There are client-side (Browser, NodeJS, electron, etc) libraries that handle automatic reconnect of WebSockets that close with an error. I'm not sure whether they attempt reconnects if a We

[2020-05-31 14:58] diogob commented on #54
@W1M0R These are good points you bring. I'll roll back the `message_delivery_at` breaking changes since they were speculative in the first place and breaking compatibility needs a stronger motivation.

Regarding the error code, we could use `1008` since `Policy Violation` it's pretty vague and does not imply any particular recovery strategy. Let me know if you have any better idea for the particul

[2020-05-31 15:59] W1M0R commented on #54
I closed this issue by accident while using the GitHub app on my phone (the page looked like a dialog and the close button like it would close the dialog).

[2020-05-31 16:20] W1M0R commented on #54
According to the Mozilla docs on reason codes:

Note that the 1xxx codes are only WebSocket-internal and not for the same meaning by the transported data (like when the application-layer protocol is invalid).

Upon reading some more, one can expect the browser to use the 1xxx codes when closing the websocket. I would say use 4xxx, e.g. 40001.

[2020-05-31 21:54] diogob commented on #54
@W1M0R thanks for all the help designing this feature. I've made some additional changes. Added the code 3001 when the connection is closed due to JWT expired and reverted the changes in the `message_delivered_at` field.

I'll merge now and will batch in the next release once I get something to solve #55 in place.

[2020-06-06 15:27] diogob commented on #55
@anatolystansler I have opened #57 but I had done very little testing. Would you be able to compile from that branch and confirm that it fits your use case?
I'm also not sure if the server is properly cleaning all resources (since most is done by the warp library) so if you see any lingering network socket after the shutdown please let me know.

[2020-06-13 00:35] diogob commented on #54
Released in 0.7.0.0 to hackage and dockerhub

[2020-06-13 00:35] #54 closed

[2020-06-13 00:37] diogob commented on #55
Released in 0.7.0.0 to hackage and dockerhub. I'll leave this open since I want to improve on this and perhaps have the service reopen the connection on its own.

[2020-06-13 00:39] diogob commented on #42
I don't know exactly in which cases this problem happens therefore I'm having a hard time reproducing the issue to come up with a fix. If you are future reader and you are having this issue please reopen the issue and help me to understand what exactly happens

[2020-06-13 00:39] #42 closed

[2020-06-29 18:07] anatolystansler commented on #55
@diogob thanks for the fix, works as intended :)

[2020-07-14 04:03] jamesmstone opened #58 "Extend support for JWT to subscribe to multiple channels"
Hi @diogob

Firstly, thanks this is a really cool idea.

I was wondering if it would be possible to extend support for the JWT to support multiple channels.

eg if you have a JWT like this:

Payload:
[code]

JWT:  `eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtb2RlIjoicnciLCJjaGFubmVscyI6WyJjaGF0IiwibG9jYXRpb24iXX0.7y8wL8Vcg6Gsr2yHjJ5H9RnK8DL6U5KP9eChCDVSe2k`

A client could the subscribe to all channe

[2020-07-14 04:22] diogob commented on #58
It's an interesting feature. Could you share how are you going to use that? Just so I have a better idea of the target use case and what sort of application is being built using this project.

[2020-07-14 04:44] jamesmstone commented on #58
Sure, this really stems from a permissions point of view.  Depending on a users permissions they would subscribe to different channels.

Imagine a db that has different database users for different roles.

eg a `admin`  users,  `approved` user `anonymous` users etc.

There are some tables in the system depending on your role you only have permission to view certain table columns.

For example

[co

[2020-07-15 00:11] diogob commented on #58
I can't commit to an ETA, but I like the feature and it seems to add little additional complexity. So I should take a stab at it in the next couple of weeks.

[2020-07-15 03:11] jamesmstone commented on #58
Would it be as simple as
1. Updating `type ConnectionInfo` to support a list of channels? (that would be used instead of the current `ByteString` single channel?)
2. Change `validateClaims` to return the new list of channels
3. Update the `ClaimsSpec` tests
4. Update `onMessage` somehow... ( this is where I get a bit lost)

[2020-07-15 04:08] diogob commented on #58
Yes, you are correct on the 4 points. Add to that change the call to `notifySession`. Both `onMessage` and `notifySession` would have to be mapped over the list of channels.

I'm considering creating the new claims as `channels` and leaving the old `channel` as a deprecated claim for backwards compatibility (if used the claim channels would be ignored).

In case you want to give this PR a shot, th

[2020-07-16 00:58] jamesmstone commented on #58
By this:

Do you mean treating a `channel:"a"` as equivalent to providing `channels: ["a"`]

Ohh gee, I am not really a Haskell programmer at all, and it sounds like you have a pretty good idea on what is needed. Happy though to give a PR a go. But would love to maybe have a quick video call to discuss with you first.

[2020-07-17 03:45] diogob commented on #58
That is correct

Sure, I've messaged you on Keybase.

[2020-07-17 04:47] jamesmstone commented on #58
Thanks,

This is going to sound terrible. I have forgotten my keybase credentials. I have initiated a reset (7 days remaining)

Is there any other way you can think of communicating over

[2020-07-17 05:40] jamesmstone commented on #58
I just tried sending you a message on [Gitter](https://gitter.im/)

[2020-08-11 23:06] diogob commented on #58
I'm closing this since support for multiple channels got merged into the 0.8.0.0 release.

[2020-08-11 23:06] #58 closed

[2020-09-03 14:14] W1M0R opened #63 "Feature Request: @filename support for PGWS_DB_URI environment variable"
The `PGWS_JWT_SECRET` environment variable already supports values using the @filename format, which is very useful for passing in Docker secrets, e.g. `PGWS_JWT_SECRET="@/run/secrets/my_jwt_secret_key"`.

Since the postgres connection URI often includes a password in plain text, it would be great if the connection URI could be specified in a secret managed by Docker, that could then be provided t

[2020-09-03 14:22] W1M0R opened #64 "Feature Request: configurable retry attempts for Docker container that exits with error code"
Currently, a postgres-websockets Docker container will try to connect to postgres, and will retry until it can successfully connect. When using the postgres-websockets container inside a Docker stack (within Docker Swarm), that feature makes it hard for swarm to detect connectivity issues (since the issue is masked by postgres-websockets) and therefore it won't recreate the container.

It would be

[2020-09-03 16:35] diogob commented on #55
Actually after some thought, I believe that this is better handled outside of postgres-websockets. The additional code complexity to create a fully-self healing process is more than what I'm willing to handle on a one-developer volunteer project.

[2020-09-03 16:35] #55 closed

[2020-09-03 20:25] W1M0R commented on #64
Thank you for your interest in this issue.

Here is an extract of the current log output:

[code]

In summary, the `Error connecting notification listener to database` class of errors should terminate the application with an error code, if the configured number of retry attempts have been reached.

[2020-09-11 00:01] diogob commented on #64
@W1M0R the latest 0.9.0.0 release should take care of this issue, please verify and close the issue if that solves your use case

[2020-09-11 00:01] diogob commented on #63
@W1M0R the latest 0.9.0.0 release should take care of this issue, please verify and close the issue if that solves your use case

[2020-09-11 18:24] W1M0R commented on #63
Thanks! I'll check it out.

[2020-09-11 18:27] W1M0R commented on #64
Thanks! I'll check it out.

[2020-09-14 08:40] W1M0R commented on #64
Works as advertised. Thanks @diogob!

[2020-09-14 08:40] #64 closed

[2020-09-14 08:40] W1M0R commented on #63
Works as advertised. Thanks @diogob!

[2020-09-14 08:40] #63 closed

[2020-10-08 02:47] diogob commented on #52
@W1M0R I have changed the approach here and decided to try a metadata channel that can be used from another websocket or from a database listener. To execute a function one would need an additional software listening to same channel used by postgres-websockets. I understand that it's not as convenient as the original proposed feature. But if you could give it a try or review the PR #67 that would

[2020-10-23 06:25] W1M0R commented on #52
Hi @diogob, thanks for all your efforts, and sorry for the late reply. I'm currently swamped at work, and won't be able to try this feature out anytime soon. The functionality described in your pull request would allow me to achieve most of my goals. The last hurdle is to be able to get notified of websocket connection closed events. That is probably the hardest problem to solve.

[2021-01-19 12:37] VYadav123 opened #70 "PostGres WebSocket handsake via browser"
Hi,
Our PostgresSQL is configured using JWT token, Our application is configured on Port 3000 successfully.
Now as per our requirement we need to listen the notifications generated whenever new entry comes into the table present in PostgSQL, so till now we successfully listen the Port 3000 using Putty
Now we want to listen the same port via browser, so for this we have tried below
![image](https:/

[2021-01-19 16:35] diogob commented on #70
Hi @VYadav123 , how are the notifications being generated?
Could you post some code transcripts? Also what is the value of `PGWS_LISTEN_CHANNEL` ?
Note that you have to use the json format [described in the README](https://github.com/diogob/postgres-websockets#sending-messages-to-the-browser) to allow the message to be relayed by the postgres-websockets server.

[2021-01-25 13:27] girishvenkata14 commented on #70
Hi @diogob,

Below is the code snippet used:
![MicrosoftTeams-image](https://user-images.githubusercontent.com/77968207/105711520-abcecd00-5f3e-11eb-8842-3ce83746dc90.png)

When we subscribe to the channel 'chat' through the browser, function PGWS_LISTEN_CHANNEL is returning blank.
Please suggest where we are going wrong.

[2021-01-26 16:52] diogob commented on #70
`PGWS_LISTEN_CHANNEL` should be set to `events` or you should change your code to use the default channel name which is `postgres-websockets-listener`.

[2021-01-26 16:52] #70 closed

[2021-03-24 08:06] W1M0R opened #71 "WebSocket stops receiving messages from the database"
Quite regularly I have the situation where my application successfully connects to postgres-websockets, but without receiving any messages from the database. Restarting my application doesn't fix the problem. However, restarting postgres-websockets does fix the problem. I have been wanting to report this issue for a while now, but it is hard to provide relevant information for the issue. I wish I

[2021-03-24 13:50] diogob commented on #71
@W1M0R thanks for the detailed report. Perhaps the first step should be to create a debugging logger. It's a simple feature to implement and it would help to troubleshoot potential future issues as well.
Furthermore, your assessment of postgres-websockets losing the listen connection seems to be a good lead. If the situation happens again I would appreciate if you could inspect the results of `SEL

[2021-03-24 18:04] W1M0R commented on #71
Thanks for your feedback @diogob. I'll try and get you the pg_stat_activity results.

[2021-03-24 19:51] W1M0R commented on #71
@diogob Here is the result of `SELECT * FROM pg_stat_activity` when my application no longer receives data from postgres-websockets. When everything works as expected, this table has an additional row with a `query` value of `LISTEN pgwebsockets`.

[code]

[2021-03-24 20:15] diogob commented on #71
@W1M0R great stuff! It seems that we really need some sort of recovery for the `LISTEN` connection. I'll open a PR (probably next week) and we can continue the conversation there.

[2021-03-24 20:21] W1M0R commented on #71
Thanks @diogob. I came across this stackoverflow answer: https://stackoverflow.com/a/8280281/755405

I'm not sure if `PGWS_POOL_SIZE` controls postgres connection pooling. If it does, then perhaps the reuse of connections might be a factor causing this issue.

[2021-03-25 07:06] W1M0R commented on #71
I have seen the LISTEN session die under one of two conditions:

1. When there is no database activity on the channel for a few minutes (perhaps a timeout is in effect)
2. When the database is under severe load (due to stress tests and benchmarking)

It is unlikely that situation 2 will happen in our production setup, but it is very likely that situation 1 will happen.

[2021-04-19 22:11] diogob commented on #71
@W1M0R I'm trying to reproduce the error by killing the back-end process that handles the PostgreSQL connection. The problem is that the postgresql client detects the failure on the back-end side and kills the connection, this shuts down postgres-websockets since we monitor the listener thread.

I have tried to reproduce using two methods:
* calling a pg_terminate_backend on my `LISTEN` connection

[2021-04-20 14:25] W1M0R commented on #71
Thanks for your efforts in trying to understand the problem @diogob, it is very much appreciated. I am not aware of any middleware running.

My setup runs nginx, postgres, PostgREST and postgres-websockets as services in a Docker swarm. The Docker Swarm runs on Ubuntu 20.04 inside a VirtualBox virtual machine created by Vagrant.  All the services run on the same machine. Only nginx is accessible b

[2021-04-20 14:45] diogob commented on #71
@W1M0R thanks for the details. I think that restoring the listener is a desirable feature anyways. So I'll go ahead and implement that. I'll leave it as configuration switch that can be turned off for cases where an external handler is desirable.

[2021-05-21 07:16] fjf2002 opened #75 "docker stop takes 10s"
"docker stop postgres-websockets" takes 10s.

This could mean postgres-websockets does not respond to termination requests(?)

[2021-05-21 07:35] fjf2002 commented on #75
In Dockerfile, a command "STOPSIGNAL SIGINT" seems to do the job (?)

[2021-05-21 12:44] fjf2002 opened #76 "Using the client-example with different URLs"
Unfortunately, the client-example is hardcoded to port 3000 and path "/".

It won't work if I am using a different port or using a reverse-proxy that maps postgres-websockets to a path, say, for example, "/ws".

How about replacing client-example/client.js line 2-4 with something like:

[code]

(The first replaces http(s?) by ws(s?), the second replace deals with the case that href ends with a /.)

[2021-05-27 15:00] diogob commented on #76
@fjf2002 I had the same issue a couple of days ago. Perhaps this should be open as an input for the user and I just set the default with the current value.

[2021-05-27 15:00] diogob commented on #75
@fjf2002 thanks for the `STOPSIGNAL SIGINT` tip. I'll test here and update accordingly.

[2021-05-27 15:18] #76 closed

[2021-06-18 23:42] diogob commented on #71
The latest release (0.11.0.0) should be able to handle this cases with the parameter `PGWS_CHECK_LISTENER_INTERVAL` that will monitor and re-spawn the listener connection.

[2021-06-18 23:42] #71 closed

[2022-04-05 13:16] enzo-desimone opened #82 "Wss connection Certificate"
Hello,
I explain my situation to you. I have the websocket in a docker container on one server, which connects to another postgres server so not in localhost. I am trying to create a secure connection in order to use the wss protocol. Inserting the two variables (PGWS_CERTIFICATE_FILE && PGWS_KEY_FILE) the container starts without problems, but when I go to connect to the websocket it gives me thi

[2022-04-11 17:50] diogob commented on #82
@enzo-desimone the issue might be on the client side. It seems that the client does not recognize the CA used to sign the certificate. Have you made any further progress investigating this issue?

[2022-04-11 18:12] enzo-desimone commented on #82
Unfortunately no

[2022-04-13 03:12] diogob commented on #82
Could you send me more details on the websocket client? Also, could you send me more details about the certificate used? Hopefully with more details I would be able to reproduce this issue.

[2022-05-24 08:04] fjf2002 commented on #75
Any news here?

[2022-05-24 16:12] diogob commented on #75
@fjf2002 thanks for the reminder. Will update this as soon as possible.

[2022-05-25 06:12] fjf2002 commented on #75
Thank You.

[2022-05-25 06:22] fjf2002 opened #84 "JWT in URL: option to send it within the socket connection"
My security department has a problem with sensitive data as part of URLs - here: the JWT.

Can you imagine requesting a channel by POSTing a JWT - or like [postgrest ](https://postgrest.org/): putting the JWT in a header instead (i. e. `Authorization: Bearer`)?

The security background probably is, the webserver logs (of my reverse proxy) contains URLs, thus currently contains sensitive data (the

[2022-05-25 06:29] fjf2002 opened #85 "Recover on missing PostgreSQL DB"
I am using postgres-websockets in a containerized setup, together with [postgrest ](https://postgrest.org/), and PostgreSQL, of course.

The PostgreSQL container does a lot of initialization and so can take quite a long time to start up.

postgrest can deal with that, seems to try to connect infinite times.

postgres-websockets doesn't seem to be able to handle this. The container fails, and I hav

[2022-05-26 05:23] diogob commented on #82
Feel free to reopen in case you have more details to help troubleshooting

[2022-05-26 05:23] #82 closed

[2022-05-26 16:11] diogob commented on #84
@fjf2002 unfortunately the websocket clients on browsers are very limited and AFAIK do not have any header capability. Check [this discussion](https://github.com/whatwg/websockets/issues/16) for more info.

It seems that the simplest solution in this case would be to apply some filter on the logs to remove the those URLs before persisting them.
I also advise short TTLs (a few minutes) for the toke

[2022-05-30 05:04] fjf2002 commented on #84
Ok, thanks for the clarification.

[2022-05-31 14:39] fjf2002 commented on #84
Just another idea: What about sending the token in-channel, i. e. as the first websocket message after connection, from the browser to the postgres-websockets?

[2022-05-31 14:56] diogob commented on #84
@fjf2002 yes, that would work. It adds a bit of complexity to the code, and it could be easier for a malicious user to consume resources (since we would have to open the socket before authenticating). But this could be enabled by a configuration flag to avoid using this workflow in cases where it's not needed. I'll leave this issue open as an enhancement and see if anybody else will thumbs up this

[2022-06-02 05:10] fjf2002 commented on #84
ok, thanks!

[2022-06-02 05:15] fjf2002 commented on #84
You seem to mean the additional HTTP->Websocket upgrade handshake? The TCP socket must be open in each case.

[2022-06-02 06:07] fjf2002 commented on #85
Sorry, `PGWS_CHECK_LISTENER_INTERVAL` does not seem to work for me:

My test case: PostgreSQL is down (to simulate a slow or deferred start), and PGWS_CHECK_LISTENER_INTERVAL=10000.

Command: `docker-compose up postgres-websockets`
Output:
[code]

Then I started PostgreSQL and expected that websockets will work - but they did not, unfortunately.
The browser says (after page reload) that the websoc

[2022-06-02 06:08] fjf2002 commented on #85
OK it seems that I can't reopen the issue. Could you reopen it? Thanks.

[2022-06-02 13:50] diogob commented on #84
Also the server thread that keeps the websocket session alive sos we can wait for the auth token.

[2022-06-02 14:03] diogob commented on #85
`PGWS_RETRIES=30` should give you a few minutes to start the server. Perhaps this should be the default setting.

[2022-06-07 11:11] fjf2002 commented on #85
Seems to work, thank you!

[2022-06-07 11:11] #85 closed

[2022-06-19 21:43] cwangfr opened #87 "Need ping/pong functionality"
The environment I use is a mobile network, and the connection is always unstable. Is it possible to provide the function of client PING and server response to PONG, which is convenient for the client to do heartbeat detection.
Or is there already a similar function?
thank you very much.

[2022-06-20 15:40] diogob commented on #87
@cwangfr the server currently has no such feature. Just to ensure I understood correctly, you would like to initiate the ping test on the client side, is that correct?

[2022-06-20 21:58] cwangfr commented on #87
@diogob yes, that's what i need

[2022-08-15 06:27] jamesmstone opened #88 "Support multiple docker architectures"
It would be great if we can support multiple architectures at the moment the published image is just (amd64)

I think this could now be achieved fairly easily using `docker buildx` , please see https://docs.docker.com/desktop/extensions-sdk/extensions/multi-arch/

If you are open to the idea, I am happy to make a PR adding this

[2022-08-18 17:28] diogob commented on #88
@jamesmstone that sounds like a reasonable improvement. Specially considering how arm has gained so much traction in the server space.

[2022-08-22 00:57] jamesmstone commented on #88
Sounds good!

Ahh, this is actually a bit more complicated than I first thought.  I hadn't realised there are actually two Dockerfiles.

One for the building the binary and one for building the environment

I still briefly tried with my original idea:

`build-docker.sh`

[code]

But I don't think that will work, as (I think) `stack` assumes the host's architecture

[2022-08-22 00:59] jamesmstone commented on #87
I wonder @cwangfr , could this be implemented in postgres? maybe using something like
https://github.com/diogob/pg-recorder to listen for a PING message, and respond with a PONG

[2022-08-22 01:05] jamesmstone commented on #88
The only notes I can find on `stack` and `docker` are here https://docs.haskellstack.org/en/stable/docker_integration/, but that does not specify how to use build using a docker different docker architectures

And from docker's docs:  https://docs.docker.com/desktop/multi-arch/#build-and-run-multi-architecture-images

I think the only way to run an image with a particular architecture is using the